<a href="https://colab.research.google.com/github/endrisbezawit/ASP.Net-core-BLog-web-app/blob/main/Movierecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#movie recommendation

In [19]:
#import the libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer  
import difflib

In [3]:
#Load the data
from google.colab import files
uploaded = files.upload()

Saving IMDB-Movie-Data.csv to IMDB-Movie-Data.csv

In [5]:
#store the data
df=pd.read_csv('IMDB-Movie-Data.csv')
#show the first 3 rows of data
df.head(3)

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0

[3 rows x 12 columns]

In [6]:
#Get a count of number of rows/movies in the dta set and the number of columns
df.shape

(1000, 12)

In [7]:
#create a list of important columns for the recommendation engine
columns = ['Actors','Director','Genre','Title']

In [8]:
#show the data
df[columns].head(3)

                                              Actors  ...                    Title
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  ...  Guardians of the Galaxy
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  ...               Prometheus
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  ...                    Split

[3 rows x 4 columns]

In [9]:
#Check for any misssing values in the important columns
df[columns].isnull().values.any()

False

In [17]:
#create a function to combine the values of the important columns in to a single string 
def get_important_features(data):
  important_features = []
  for i in range(0, data.shape[0]):
    important_features.append(data['Actors'][i]+''+data['Director'][i]+''+data['Genre'][i]+''+data['Title'][i])
    return important_features

In [18]:
#create a column to hold the combined strings
df['important_features']= get_important_features(df)

#show the data
df.show(3)

ValueError: ignored